<h1 class="underline">褒め便り。</h1>
<h2>ラジオネーム、何にする？</h2>

<button class="btn btn-active btn-secondary">Secondary</button>

<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
  Button
</button>
