<div class="hero min-h-screen" style="background-image: url(https://sozaino.site/wp-content/uploads/2022/03/shiba5.png);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-6xl font-bold">褒め便り。</h1>
      <h5 class="mb-5 text-2xl font-bold">ラジオネーム、何する？</h5>
      <p class="mb-5">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
      <%= link_to 'ゲストで投稿してみる', new_post_path, class: 'btn btn-accent' %>
      <%= link_to 'ログインして投稿', login_path, class: 'btn btn-accent' %>
    </div>
  </div>
</div>
