<h1 style="text-align: center; font-size: 2em; color: #333;">投稿一覧</h1>
<div class="h-full w-4/5 flex justify-end items-start">
  <div class="h-96 w-3/5 ml-40 mt-14 carousel carousel-vertical rounded-box transform scale-400">
    <% @posts.each do |post| %>
      <div class="carousel-item h-full" style="background-color: rgba(246, 238, 201, 0.6); position: relative;">
        <div class="card w-96">
          <div class="card-body">
            <h2 class="card-title"><%= post.radio_name %></h2>
            <p><%= post.content %></p>
          </div>
        </div>
        <%= button_to '投票する', vote_post_path(post), method: :post, class: "btn btn-primary", style: "position: absolute; right: 0; bottom: 0;" %>
      </div>
    <% end %>
  </div>
</div>